.card-item{
    width: 200px;
    min-width: 200px;   /* 👈 ESTO ES LA CLAVE */
    padding: 10px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 10px;
    flex-shrink: 0;     /* 👈 Y ESTO TAMBIÉN */
}

.card-img {
  width: 100%;
  aspect-ratio: 4 / 3;   /* proporción bonita */
  object-fit: cover;    /* recorta sin deformar */
  border-radius: 10px;
}