.footer{
    background-color: #1e293b;
    display: flex;
    color: white;
    padding: 10px;
    justify-content: space-around;
}


.column-footer{
    display: flex;
    flex-direction: column;
}
