.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #1e293b;
  color: white;
}

.navbar-logo button {
display: flex;
  align-items: center;
  gap: 8px; /* espacio entre logo y texto */
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
}

.logo-text {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.img-logo{
    width: 80px;
    height: 60px;
}



/* Botón hamburguesa */
.hamburger {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Mobile menu (slide) */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100vh;
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  padding: 80px 20px;
  gap: 24px;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.mobile-menu a:hover {
  text-decoration: underline;
}

/* Cuando está abierto */
.mobile-menu.open {
  right: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .hamburger {
    display: block;
  }
}


.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}